*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(172, 2, 2);
    user-select: none;
}

h1{
    color: white;
    font-family: monospace;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 60px 0 ;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-sim, .btn-nao{
    background-color: rgb(0, 0, 0);
    padding: 10px 50px;
    margin: 0 20px;
    border-radius: 10%;
    color: white;
    font-size: 20px;
    border: none;
}
.btn-sim:hover, .btn-nao:hover{
    background-color: rgb(209, 171, 244);
}

.btn-nao{
    position: relative;
    
}

.aceitou{
    display: none;
    justify-content: center;
}

@media screen and (max-width: 320px){
	.container{
        width: 320px;
    }
}